.wrapper{
    height: 200px;
    width: 300px;
    background-color: rgb(193, 248, 245);
}
#heading{
    font-size: 30px;
    font-style: italic;
    font-family: cursive;
}
#text{
    border:1px;
    border-radius: 5px;
    height:200px;
    width:300px;
    background-color: rgba(255, 255, 255, 0.993);
}
#btn1{
    position: relative;
    font-style: italic;
    font-family: cursive;
    background: transparent;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #666666;
    float: right;
}
#btn, #btn2, #btn3 {
    position: relative;
    float:left;
    font-style: italic;
    font-family: cursive;
    background: transparent;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #666666;
    
}
